@import './reset.css';
@import '../assets/icon/style.css';

:root {
  --hui-grid-header-background: #f0f0f0;
  --hui-grid-border-width: 1px;
  --hui-grid-border-style: solid;
  --hui-grid-border-color: #d3d3d3;
  --hui-grid-progressbar-background: #2dc214;
  --hui-grid-color: #333;
}

.hui-hidden {
  display: none !important;
}

.hui-grid,
.hui-grid * {
  box-sizing: border-box;
}

.hui-grid {
  position: relative;
  cursor: default;
  white-space: normal;
  color: var(--hui-grid-color);
  line-height: inherit;
  background-color: #fff;
}

.hui-grid-container {
  display: flex;
  height: 100%;
  min-width: inherit;
  min-height: inherit;
  flex-direction: column;
}

.hui-grid .hui-grid-table tr,
.hui-grid .hui-grid-table td {
  border-style: var(--hui-grid-border-style);
  border-color: var(--hui-grid-border-color);
  border-width: var(--hui-grid-border-width);
}

.hui-grid-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
}

.hui-grid-table-fixed {
  table-layout: fixed;
  width: 100%;
}

.hui-grid-header {
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.078);
}

.hui-grid-header .hui-grid-table {
  background-color: var(--hui-grid-header-background);
}

.hui-grid-body {
  display: flex;
  border-bottom: var(--hui-grid-border-width) var(--hui-grid-border-style) var(--hui-grid-border-color);
}

.hui-grid-body .hui-grid-table tr:first-child,
.hui-grid-body .hui-grid-table td {
  border-top: 0;
}

.hui-grid-body,
.hui-grid-scroll-wrapper {
  min-width: 0;
  min-height: 0;
  flex: 1;
}

.hui-grid-scroll-wrapper {
  position: relative;
  height: auto;
}

.hui-grid-scroll-container {
  touch-action: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hui-grid-scroll-content {
  position: relative;
  overflow-anchor: none;
  min-width: 100%;
  min-height: 100%;
  display: block;
  float: left;
}

.hui-grid-scroll-content::before,
.hui-grid-scroll-content::after {
  display: table;
  content: '';
  line-height: 0;
}

.hui-grid-scroll-content::after {
  clear: both;
}

.hui-grid-table-content {
  min-height: 100%;
  overflow-anchor: none;
  position: relative;
}

.hui-grid-nodata {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* Scrollbar */
.hui-scrollbar {
  position: absolute;
  pointer-events: auto;
  transition: background-color 0.5s linear 1s;
}

.hui-scrollbar:hover {
  background-color: rgba(225, 225, 225, 0.33);
  transition: background-color 0.15s linear 0.15s;
}

.hui-horizontal-scrollbar {
  bottom: 0;
  left: 0;
  width: 100%;
}

.hui-scrollbar .hui-scrollthumb {
  transition:
    height 0.2s linear 0.15s,
    transform 0.1s ease-in-out;
}

.hui-horizontal-scrollbar .hui-scrollthumb {
  width: 0;
  height: 8px;
  padding-bottom: 1px;
  padding-top: 2px;
}

.hui-horizontal-scrollbar:hover .hui-scrollthumb {
  height: 15px;
}

.hui-vertical-scrollbar {
  top: 0;
  right: 0;
  height: 100%;
}

.hui-vertical-scrollbar .hui-scrollthumb {
  width: 8px;
  height: 0;
  padding: 0 2px;
}

.hui-vertical-scrollbar:hover .hui-scrollthumb {
  width: 15px;
}

.hui-scrollthumb-content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s linear 1s;
}

.hui-scrollthumb-content::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.15s linear 0.15s;
}

.hui-grid-body:hover .hui-scrollthumb-content {
  transition: background-color 0.15s linear 0.15s;
  background-color: #b4b4b4;
}

.hui-scrollthumb:active .hui-scrollthumb-content::after {
  background-color: rgba(56, 149, 225, 0.8);
}

/* Cell & Column */
.hui-grid-table td {
  padding: 3px 6px;
  font-size: 12px;
  overflow: hidden;
}

.hui-grid .hui-grid-table td:focus {
  outline-offset: -1px;
  outline: #95c6ef solid 1px;
}

/* Column */
.hui-grid-table td[role='columnheader'] {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-transform: capitalize;
}

.hui-grid-table td[role='columnheader'] .hui-grid-column-text {
  display: inline-block;
  text-overflow: ellipsis;
}

.hui-grid-table td[role='columnheader'] .hui-grid-column-indicators {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  cursor: pointer;
}

.hui-grid-table td[role='columnheader'] .hui-grid-column-indicators::after {
  content: '';
  clear: both;
}

/* Cell */
.hui-grid-body .hui-grid-table td {
  text-overflow: ellipsis;
}
