.hui-root
  :is(
    p,
    ol,
    ul,
    li,
    dl,
    dt,
    dd,
    blockquote,
    figure,
    fieldset,
    legend,
    textarea,
    pre,
    iframe,
    hr,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
  ) {
  margin: 0;
  padding: 0;
  line-height: 1.15rem;
}

.hui-root :is(h1, h2, h3, h4, h5, h6) {
  font-size: 100%;
  font-weight: normal;
}

.hui-root ul {
  list-style: none;
}

.hui-root :is(button, input, select) {
  margin: 0;
}

.hui-root :is(*, *::before, *::after) {
  box-sizing: border-box;
}

.hui-root :is(img, video) {
  height: auto;
  max-width: 100%;
}

.hui-root table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hui-root :is(td, th) {
  padding: 0;
}
